
/* .arabicHomePage{  
    font-family: 'Almarai', sans-serif;
    letter-spacing: 0!important;   
} */
/* .site-main .site-banner .site-title p{
    width: 50%;
} */
.container h1 , .container p{
    text-align: right;
}
