/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */
.site-banner.home .header_area .main-menu .nav-item .nav-link {
  color: #000;
}

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 0rem;
}
.header_area .main-menu .navbar .navbar-brand img {
  height: 80px;
  width: 100px;
}

.header_area .main-menu .navbar {
  padding: 1rem 15rem;
}

.header_area .main-menu .nav-item .nav-link {
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}
.arabicHomePage{  
  font-family: 'Almarai', sans-serif;
  letter-spacing: 0!important;   
}
.site-banner.home .header_area .main-menu .navbar-nav a:hover {
  background: rgba(204, 139, 40, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end navigation */

/* Banner Area */
.site-banner-en .para {
  text-align: justify;
}


/* Platform Area */

.services-area.platform {
  padding: 7rem 0rem;
}
.parallax {
  /* The image used */
  background-image: url("../img/web\ english-home.png");
height: 450px;
width: 98%;
margin: 0 auto;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax.platform.ger{
  background-image: url(../img/web\ German\ home.png);
  height: 450px;
  width: 98%;
  background-attachment: scroll;
  background-position: center;
  margin: 0 auto;
}
.parallax.platform.ar{
  background-image: url(../img/web\ Arabic\ home.png);
  height: 450px;
  width: 98%;
  background-attachment: scroll;
  background-position: center;
  margin: 0 auto;
}



.site-banner h1 span {
  color: rgba(204, 139, 40, 1);
}
.site-banner.home.ar{
  direction: rtl;
}


footer.footer-area {
  position: relative;
}

.row.footer .footer-info {
  padding: 0%;
  height: 40vh;
}

footer.footer-area .social h5 {
  font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 3%;
  color: var(--primary-color);
}

footer.footer-area .social a:hover > i {
  color: var(--border-color);
}
.contact-info a > i {
  font-size: 22px;
  padding: 3%;
  color: var(--primary-color);
}
footer.footer-area .up {
  position: absolute;

  right: 6%;
  bottom: 35%;
  color: var(--primary-color);
  z-index: 3;
}
footer.footer-area .up-ar {
  position: absolute;
  /* left: 6%; */
  bottom: 35%;
  color: var(--primary-color);
  z-index: 3;
}




/* End Footer */
.journey1-ar h2{
  text-align: right;
}