


.arabicHomePage{  
    font-family: 'Almarai', sans-serif;
    letter-spacing: 0!important;   
}
.site-main .site-banner .site-title p{
    width: 50%;
}

.about-area h1{
    font-size: 4rem;
}
.about-area h4{
    font-size: 1.5rem;
}
