/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */
.site-banner.home .header_area .main-menu .nav-item .nav-link {
  color: #000;
}

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 0rem;
}
.header_area .main-menu .navbar .navbar-brand img {
  height: 80px;
  width: 100px;
}

.header_area .main-menu .navbar {
  padding: 1rem 15rem;
}

.header_area .main-menu .nav-item .nav-link {
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.site-banner.home .header_area .main-menu .navbar-nav a:hover {
  background: rgba(204, 139, 40, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end navigation */

/* Banner Area */
.site-banner .para {
  text-align: justify;
}

/* Platform Area */

.services-area.platform {
  padding: 7rem 0rem;
}
.parallax {
  /* The image used */
  background-image: url("../img/web\ english-home.png");
height: 450px;
width: 100%;
margin: 0 auto;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* .parallax {
  background-image: url("../img/web\ english-home.png"); */
  /* height: 100%;
  width: 100%; */
  /* padding: 0;
  margin: 0; */
  /* Create the parallax scrolling effect */
  /* background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover; */
/* } */
.site-banner span {
  color: rgba(204, 139, 40, 1);
}

/* .platform-info {
  height: 40vh;
  background-color: transparent;
  font-size: 20px;
}
.container-fluid {
  position: relative;
}

.container-fluid .numbers {
  height: 100%;
  width: 100%;
  z-index: 1;
  margin-top: -15vmin;
}

.container-fluid .numbers .rect {
  position: relative;
  margin-left: 3%;
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #333;
  height: 200px;
  width: 200px;
}
.container-fluid .numbers .rect .fa {
  padding: 10px 0px 30px 0px;
  color: var(--bluish);
  text-transform: capitalize;
}
.container-fluid .numbers .rect:hover {
  background: var(--primary-color);
  transition: 0.6s ease;
  color: #fff;
}

.rect p {
  color: var(--bluish);
  padding: 43% 0%;
}
button.center {
  margin: 3% 43%;
} */

/* end Platform Area */

/* Footer Area */

footer.footer-area {
  position: relative;
}

.row.footer .footer-info {
  padding: 0%;
  height: 40vh;
}

footer.footer-area .social h5 {
  font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 3%;
  color: var(--primary-color);
}

footer.footer-area .social a:hover > i {
  color: var(--border-color);
}
.contact-info a > i {
  font-size: 22px;
  padding: 3%;
  color: var(--primary-color);
}
footer.footer-area .up {
  position: absolute;

  right: 6%;
  bottom: 35%;
  color: var(--primary-color);
  z-index: 3;
}

/* End Footer */
