.parallax.platform {
  background-image: url(../../img/web\ english.png);
  /* background-size: cover; */
  height: 450px;
  width: 98%;
  background-attachment: scroll;
  background-position: center;
  margin: 0 auto;
}
.parallax.platform.ger{
  background-image: url(../../img/web\ German.png);
  height: 450px;
  width: 98%;
  background-attachment: scroll;
  background-position: center;
  margin: 0 auto;
}
.parallax.platform.ar{
  background-image: url(../../img/web\ Arabic.png);
  height: 500px;
  width: 98%;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.platform-partners > p,
.platform-partners > h5,
.platform-targets > p,
.platform-targets > h5 {
  width: 75%;
}
.company,
.holding,
.platform-partners,
.platform-targets {
  padding: 5%;
}
main p{
  text-align: justify;
}
.container h1 {
  font-weight: 600;
}
.container h1 > span {
  color: var(--primary-color2);
}
.banner-image .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.holding .col-lg-3,
.company .col-md-5 {
  background: #fff;
  border-radius: 4px;
  box-shadow: var(--shadow-color);
}
.holding p , .company p{
  text-align: center;
}
.holding .col-lg-3 > p,
.company .col-md-5 > p {
  color: #000;
}
.holding .col-lg-3:hover,
.company .col-md-5:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.03);
  transition: all ease-in 0.3s;
}
.holding .fa > img {
  height: 50px;
  width: 200px;
}
.company .zat {
  height: 80px;
  width: 80px;
}
.company .enterprising {
  height: 100px;
  width: 130px;
}
.orange > h3 {
  color: var(--primary-color2);
}
