.site-main {
  background-color: #fff;
  background-image: url(../../img/body-bg.png);
  overflow-x: hidden;
}
/* start banner */
.parallax {
  background-image: url("../../img/time-alarm-clock-alarm-clock-100733.jpg");
  height: 400px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-position: bottom;
  background-attachment: fixed;
}
.site-banner {
  position: relative;
}
.site-banner .title-text {
  font-size: 3rem;
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
}
.site-banner .container h1 {
  color: #1e252e;
  font-size: 2.2rem;
}
/* end banner */
.founders-card .card {
  width: 30rem;
}
.cd-timeline__content:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: all ease-in 0.5s;
  box-shadow: var(--box-shadow);
}

.cd-timeline.js-cd-timeline p{
text-align: justify;
}
.arabicHomePage .cd-timeline__content h2{
  text-align: right;
}